.dashboardLayout {
    display: flex;
    height: 100vh;
    background-color: #f5f5f5;
}

.dashboardContent {
    flex: 1; 
    overflow-y: auto; 
    margin-top: 7rem; 
}

.navTop{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 3rem;  
    width: 85%; 
    height: 7rem;
    position: fixed; 
    top: 0; 
    left: 15%; 
    z-index: 100; 
    box-shadow: 0px 4px 20px rgba(113, 112, 112, 0.1);
}

.sidebar{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 5rem; 
    box-sizing: border-box;
    width: 15%; 
    height: 100%; 
    z-index: 100; 
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    
}


.sidebar a{
    color: inherit; 
    text-decoration: none;
    font-size: x-large;
    font-weight: 600;
    
}

.sidebar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
}

.sidebar input[type=checkbox]:hover {
    border-color: aqua;
    cursor: pointer;
    
}

.productGrid{     
    display: flex;
    flex-wrap: wrap; 
    padding: 3rem;
}

.productCard{
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 170px;
    position: relative;
    transition: all 0.4s ease;
}

.productActions {
    display: flex;
    justify-content: space-around;
}

.productInfo img {
    width: 150px;
    height: 150px; 
}

.productCard input[type="button"] {
    color: inherit; 
    border: none; 
    cursor: pointer; 
    background-color: inherit;
}

.productView img {
    width: 20rem; 
    height: auto;  
}

.productView {
    display: flex;
    flex-direction: column;
    flex: 1; 
    position: relative;
}

.productInfo {
    display: block; 
    width: 100%; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 160px; 
}

.customButton{
    background: transparent; 
    border: none;
    cursor: pointer; 
    font-size: x-large;
    font-weight: 600;
    color:#bc4749;
}

.customButton:hover {
    color: rgb(197, 8, 8);
}

/* CSS to remove the outline and background */
.customIcon {
    background: none; 
    border: none; 
    outline: none; 
    box-shadow: none;
    color: inherit; /* Ensure icons inherit the color properly */
}

.customButton {
    background: transparent; 
    border: none;
    cursor: pointer; 
    font-size: x-large;
    font-weight: 600;
    outline: none; 
    box-shadow: none; 
}

.customButton:hover {
    color: rgb(104, 21, 21);
}
