.custom-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px; /* Optional: rounded corners */
    border: 1px solid #ccc; /* Optional: border color */
    overflow: hidden; /* Prevents content from spilling over the card edges */
  }
  
  .custom-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Optional: Add a shadow effect for better appearance */
  .custom-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  /* Adjust the sidebar styles */
    .sidebar2 {
        padding: 20px; /* Ensure there's only minimal padding */
        width: 250px;
    }
    
    ul {
        list-style-type: none;
      }
      